html, 
body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


  /* //// NAVBAR //// */

.navbar {
    width: 100%;
    display: flex;
    list-style: none;
    background-color: #fff;
    align-items: center;
}

.navitem2,
.navitem1 {
    text-decoration: none;
    list-style: none;
    padding: 9px 24px;
    margin: 20px 10px;
    color: black;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 18px;
    box-sizing: border-box;
}

.navitem1:hover,
.navitem2:hover {
    cursor: pointer;
    color: white;
    transition: 350ms;
    border: 1px solid black;
    background-color: black;

}


.leftnav {
    padding: 10px 25px;
    margin: 20px 10px;
    font-size: 2em;
    font-family: 'Erica One', sans-serif;
    letter-spacing: 3px;

}

.rightnav {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
}

.homelink {
    text-decoration: none;
    color: black;
    padding: 2px 8px;
    border: 2px solid white;
    border-radius: 15px;

}

.homelink:hover {
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    background-color: black;
    transition: 350ms;

}

@media (max-width: 600px) {
    .rightnav {
        flex-direction: column;
    }

    .navitem2,
    .navitem1 { 
        margin: 3px 8px;
        padding: 5px 10px;
        font-size: 14px;
}
}


/* //// HERO //// */

.hero {
    background-color: #f4f4f4;
    padding: 80px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    text-align: center;
}

.main-intro {
    padding: 20px 40px 40px 40px;
    font-family: sans-serif;
    max-width: 70vw;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    border: solid 5px #247bcc3d;
    background-color: #fff;

}



/* //// PRICING CARDS //// */
  
  .background {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
  }
  
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
  }
  
  .panel {
    background-color: #fff;
    /* border: 5px solid black; */
    border-radius: 10px;
    padding: 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    /* box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02); */
    display: flex;
    flex-direction: column;

  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;

  }
  
  .pricing-plan {
    /* border-bottom: 2px dashed #7e7e7e; */
    padding: 25px;
    margin: 0 10px 15px 10px;
    border-radius: 10px;

  }


  .borderred {
    border: solid #ff000088 5px;
}

.borderred:hover {
    border: solid #ff0000 5px;
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
}

.borderpurple {
    border: solid #9900ff88 5px;
}

.borderpurple:hover {
    border: solid #9900ff 5px;
    box-shadow: 0px 0px 20px #91919188;
    transition: 350ms;
}

.borderorange {
    border: solid #ff730088 5px;
}
.borderorange:hover {
    border: solid #ff7300 5px;
    box-shadow: 0px 0px 20px #91919188;
    transition: 350ms;

}
  
  @media (min-width: 900px) {
    .pricing-plan {
      /* border-bottom: none; */
      /* border-right: 1px solid #e1f1ff; */
      flex-basis: 100%;
      padding: 50px 25px;
    }
}
  .pricing-header {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;

  }
  
  .pricing-features {
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    list-style: none;

  }
  
  .pricing-features-item {
    border-top: 1px solid #dddddd;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    margin-right: 35px;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: black;
    display: block;
    font-size: 32px;
    font-weight: 700;
    text-transform: lowercase;
  }
  
  .pricing-button {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .btnred:hover,
  .btnred:focus {
    border: 1px solid #ff0000;
    color: #ff0000;
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
  }

  .btnpurple:hover,
  .btnpurple:focus {
    border: 1px solid #9900ff;
    color: #9900ff;
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
  }

  .btnorange:hover,
  .btnorange:focus {
    border: 1px solid #ff7300;
    color: #ff7300;
    transition: 350ms;
    box-shadow: 0px 0px 20px #91919188;
  }

  
  .pricing-button.is-featured {
    background-color: black;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: white;
    color: black;
  }